/* mainVisual */
#main-visual .youtube-box { margin-top: 82px; position: relative; padding-bottom: 40%; }

#main-visual .youtube-box .youtube { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* 
@media( min-width: 768px) {
}
@media( min-width: 992px) {
}
@media( min-width: 1200px) {
}
@media( min-width: 1400px) {
    #main-visual .youtube-box {
        margin-top: 82px;
        position: relative;
        padding-bottom: 40%;
    }
    #main-visual .youtube-box .youtube {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    }
}

/* middleNavi */
/* quickMenu */
#quickMenu { position: fixed; right: 0; bottom: 50%; -webkit-transform: translateY(50%); transform: translateY(50%); z-index: 1; }

#quickMenu .box { position: relative; text-align: center; }

#quickMenu .box::after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 83px; background: rgba(0, 0, 0, 0.4); opacity: 0; }

#quickMenu .btn_quick { position: relative; width: 80px; height: 83px; font-family: "Noto Sans KR"; font-weight: 500; font-size: 16px; color: #fff; letter-spacing: -0.5px; padding-top: 45px; border-radius: 20px 0 0 0; background-image: url("https://www.h-point.co.kr/assets/app/img/common/ic_quick.png"); background-repeat: no-repeat; background-size: auto; background-position: center 19px; background-color: #222; }

#quickMenu .quick_list { background: #fff; border-radius: 0 0 0 20px; -webkit-box-shadow: 5.142px 6.128px 12.35px 0.65px rgba(25, 48, 88, 0.3); box-shadow: 5.142px 6.128px 12.35px 0.65px rgba(25, 48, 88, 0.3); padding-bottom: 14px; }

#quickMenu .quick_list li a { display: block; width: 80px; height: 83px; font-family: "Noto Sans KR"; font-weight: 500; font-size: 16px; color: #444; letter-spacing: -.5px; padding-top: 52px; }

#quickMenu .quick_list li a:hover { color: #4e2bf4; }

#quickMenu .quick_list li.consult a { background-image: url("https://www.h-point.co.kr/assets/app/img/common/ic_quick_join.png"); background-repeat: no-repeat; background-size: 25px; background-position: center 26px; }

#quickMenu .quick_list li.consult a:hover { background-image: url("https://www.h-point.co.kr/assets/app/img/common/ic_quick_join_on.png"); }

#quickMenu .quick_list li.buy a { background-image: url("https://www.h-point.co.kr/assets/app/img/common/ic_quick_event.png"); background-repeat: no-repeat; background-size: auto; background-position: center 26px; }

#quickMenu .quick_list li.buy a:hover { background-image: url("https://www.h-point.co.kr/assets/app/img/common/ic_quick_event_on.png"); }

#quickMenu .quick_list li.kakao a { background-image: url("https://www.h-point.co.kr/images_customer/icon/ic_quick_talk.png"); background-repeat: no-repeat; background-size: 25px; background-position: center 26px; }

#quickMenu .quick_list li.kakao a:hover { background-image: url("https://www.h-point.co.kr/images_customer/icon/ic_quick_talk_2.png"); }

#quickMenu .quick_list li.github a { background-image: url("/pjhulec/shin/img/mainvisual/github.svg"); background-repeat: no-repeat; background-size: 25px; background-position: center 26px; }

#quickMenu .quick_list li.github a:hover { background-image: url("/pjhulec/shin/img/mainvisual/github.svg"); }

.pageTop { position: fixed; left: 0; bottom: 0; width: 100%; z-index: 1; opacity: 0; -webkit-transition: .5s; transition: .5s; }

.pageTop .wrap { margin: 0 auto; }

.pageTop .wrap .btn_top { position: absolute; right: 30px; bottom: 30px; width: 50px; height: 50px; text-indent: -9999px; background-image: url("https://www.h-point.co.kr/assets/app/img/common/ic_top.png"); background-repeat: no-repeat; background-size: auto; background-position: center center; background-color: #fff; border-radius: 50%; -webkit-box-shadow: 5.142px 6.128px 12.35px 0.65px rgba(25, 48, 88, 0.3); box-shadow: 5.142px 6.128px 12.35px 0.65px rgba(25, 48, 88, 0.3); }

.pageTop.on { opacity: 1; }

/* intro */
#intro1 { margin-top: 50px; padding-top: 5rem; }

#intro1 h2 { font-size: 80px; -webkit-transform: translateY(-100px); transform: translateY(-100px); }

#intro1 h2 b { margin-top: 10px; color: #fff; }

#intro1 .imgbox { margin: 10vh auto; }

#intro1 h3 { font-size: 32px; }

#intro1 img { height: 100px; }

.business.fp-completely .business_tit, .business.fp-completely .business_stit, .business.fp-completely .business_list { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }

.business { background-image: url(/pjhulec/shin/img/intro/business_bg.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; }

.business .inner { position: relative; width: 100%; top: 58%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); margin: 0; }

.business .business_tit { -webkit-transform: translateY(100px); transform: translateY(100px); opacity: 0; font-weight: 800; font-size: 75px; line-height: .9em; letter-spacing: 0; font-family: 'Poppins', sans-serif; text-align: center; -webkit-transition: all ease-out 1s; transition: all ease-out 1s; }

.business .business_stit { -webkit-transform: translateY(100px); transform: translateY(100px); opacity: 0; color: #7e7e7e; font-size: 32px; font-weight: 300; margin-top: 55px; line-height: 1.6em; margin-bottom: 49px; text-align: center; -webkit-transition: all ease-out 1s; transition: all ease-out 1s; -webkit-transition-delay: .15s; transition-delay: .15s; }

.business .business_list { width: 100%; max-width: 1520px; height: 367px; overflow: hidden; margin: 63px auto 0; -webkit-transform: translateY(100px); transform: translateY(100px); opacity: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-transition: all ease-out 1s; transition: all ease-out 1s; -webkit-transition-delay: .3s; transition-delay: .3s; }

.business .business_list > a { position: relative; width: 25%; height: 367px; float: left; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-image: none; background-repeat: no-repeat; background-size: cover; -webkit-transition: 0.5s; transition: 0.5s; }

.business .business_list > a:hover { background-image: url(/pjhulec/shin/img/intro/typea_con3_abg.jpg); }

.business .business_list > a:hover .txt1 p { color: #fff; }

.business .business_list > a:hover .txt2 { opacity: 1; }

.business .business_list > a:nth-child(1) .txt1 .txt1_icon { background-image: url(/pjhulec/shin/img/intro/1st.svg); }

.business .business_list > a:nth-child(1):hover .txt1 .txt1_icon { background-image: url(/pjhulec/shin/img/intro/1st_white.svg); }

.business .business_list > a:nth-child(2) .txt1 .txt1_icon { background-image: url(/pjhulec/shin/img/intro/certification.svg); }

.business .business_list > a:nth-child(2):hover .txt1 .txt1_icon { background-image: url(/pjhulec/shin/img/intro/certification_white.svg); }

.business .business_list > a:nth-child(3) .txt1 .txt1_icon { background-image: url(/pjhulec/shin/img/intro/eco.svg); }

.business .business_list > a:nth-child(3):hover .txt1 .txt1_icon { background-image: url(/pjhulec/shin/img/intro/eco_white.svg); }

.business .business_list > a:nth-child(4) .txt1 .txt1_icon { background-image: url(/pjhulec/shin/img/intro/map.svg); }

.business .business_list > a:nth-child(4):hover .txt1 .txt1_icon { background-image: url(/pjhulec/shin/img/intro/map_white.svg); }

.business .business_list > a .txt1 { position: relative; text-align: center; }

.business .business_list > a .txt1 .txt1_icon { width: 79px; height: 80px; background-repeat: no-repeat; background-size: cover; margin: auto; -webkit-transition: all ease .3s; transition: all ease .3s; }

.business .business_list > a .txt1 > p { font-size: 26px; font-weight: 900; line-height: 1em; margin-top: 39px; -webkit-transition: all ease .3s; transition: all ease .3s; }

.business .business_list > a .txt2 { position: relative; text-align: center; margin-top: 22px; opacity: 0; -webkit-transition: 0.5s; transition: 0.5s; color: #fff; line-height: 1.6em; font-size: 19px; height: 4.8em; }
