#detail, #review { padding-top: 5rem; }

#hd #gnb { background-color: rgba(255, 255, 255, 0.8); }

#logoimg { min-width: 116px; }

#gnb .d1a { font-family: "NanumSquareB"; color: #222; font-size: 1.4rem; }

.mt-space1 { margin-top: 5.6rem; }

.wrap { width: 100%; max-width: 1440px; margin: 0 auto; padding: 0 30px; }

.board-button i { color: white; }

.arrow { width: 100px; color: black; font-weight: bold; background: #ffc107 url(/pjhulec/shin/img/more-btn-arrow.png) no-repeat center right 30px; text-align: left; }

.btn-wrap .btn-icon { margin-left: 10px; color: white !important; }

#detail { margin-bottom: 10rem; }

#reviewes { max-width: 1900px; margin-bottom: 20rem; }

#reviewes .row { max-width: 1900px; }

#reviewes .row div { margin-left: 7rem; }

#reviewes #review-title { margin-bottom: 5rem; }

#reviewes #review-title h2 { font-size: 3rem; }

#reviewes .reviewer { border: 0.5rem solid rgba(0, 0, 0, 0.1); width: 25rem; }

#faq { margin-bottom: 10rem; }

#faq h2 { font-size: 2rem; font-weight: bold; text-align: left; margin-left: 2rem; margin-bottom: 4rem; }

#faqContent .on .downArrow { display: none; }

#faqContent .on .upArrow { display: block !important; }

#faqContent .on dd { display: block !important; -webkit-transition: 0.5s; transition: 0.5s; }

#faqContent li { border-bottom: 2px solid #222; border-top: 2px solid #222; margin-top: -2px; padding: 1rem; }

#faqContent .question { position: relative; }

#faqContent .question button { width: 80rem; }

#faqContent .question div { font-size: 1.5rem; }

#faqContent .question .downArrow, #faqContent .question .upArrow { position: absolute; top: 8%; left: 80%; }

#faqContent .answer { text-indent: 1rem; margin-top: 1rem; }

#faqContent .answer div { font-size: 1.2rem; }

#partner { margin-bottom: 4rem; }

#ft .container { font-size: 12px; line-height: 1.7; }

#bgColor { height: 10rem; background-color: #444; padding: 1.3rem; }

#bgColor span, #bgColor div { color: white; }

#bgColor div a { color: white; }

#bgColor div a.btn { background-color: white; margin-left: 1rem; }

#detail { height: 0; overflow: hidden; }
